body{
	background-image:url("double-bubble-outline.png");
}
h1{
	display:inline;
	background-color:white;
}
h2{
	display:inline;
	background-color:white;
}

ul {
	background-color:white;
	display:inline-block;
}

a:link{
	text-decoration:none;
	color:blue;
}
a:visited{
	color:blue;
}

a:hover{
	text-decoration:underline;
}



