body{
	margin:0px;
	background-color:#eeeeee;
}
h1.title{
	margin-top:0px;
	background-color:#71ada5;
	color:white;
	margin-bottom:0px;
}
.navlist{
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background:white;
	margin-top:0px;
	display:grid;
	grid-template-columns:repeat(3,auto) 1fr;
	grid-column-gap:15px;
	justify-items:left;
}
.navlist li{
	list-style-type:none;
}


ul {
	background-color:white;
	display:inline-block;
}

a:link{
	text-decoration:none;
	color:orange;
}
a:visited{
	color:orange;
}

a:hover{
	text-decoration:underline;
}



